rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Notes & Study Materials folder
    match /notes/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Student Submissions folder
    match /submissions/{allPaths=**} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if request.auth != null;
    }

  }
}
